/* style header  */
header.header {
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    position: relative;
}

/* end-style header  */

/* style nav   */
/* nav_fixed  */
.nav__fixed {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 70px;
    background-color: #ffffffdb;
    transition: 0.5s;
    display: none;
}

.nav__fixed.fixed {
    position: fixed;
    top: 0;
    display: block;
}

.nav__fixed .logo img {
    width: 65px;
    padding-top: 5px;
}

.wrapper__fixed {
    height: 100%;
    background: none;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav__fixed ul {
    padding-left: 20px;
}

.nav__fixed_mobile {
    display: none;
}

@media (max-width:1023px) {
    .nav__fixed.fixed {
        display: none;
    }

    .nav__fixed_mobile .logo img {
        width: 60px;
        padding-top: 5px;
        padding-left: 15px;
    }

    .nav__fixed_mobile ul {
        display: none;
    }

    .nav__fixed_mobile {
        display: block;
    }

    nav.nav__fixed_mobile {
        width: 100%;
        height: 70px;
        top: -30px;
        position: absolute;
        background: #000000ab;
        left: 0;

    }

    .nav__fixed_mobile .wrapper__fixed {
        align-items: center;
        justify-content: space-between;
    }

}

/*end-nav_fixed  */


.wrapper-nav {
    display: flex;
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 30px;
}

.nav__pc {
    background-color: rgba(0, 0, 0, .41);
    margin: 0 auto;
    display: flex;
    height: 65px;
    top: 52px;
    max-width: fit-content;
    min-width: 52%;
    position: relative;
    border-radius: 10px;
    /* display: none; */
}

.nav__pc .logo {
    position: absolute;
    top: -18px;
    left: 20px;
    z-index: 99;
    padding: 5px 5px;
    background-color: #fff;
    border: 3px solid var(--border-color-logo);
    border-radius: 15%;
}

.nav__pc .logo img {
    width: 75px;
    height: 75px;
}

.nav__pc ul li:first-child {
    margin-left: 150px;
}

.nav__fixed ul li a {
    text-decoration: none;
    color: #333;
}

.nav__fixed,
.nav__pc ul li a {
    text-decoration: none;
    color: var(--text-nav-color);
    line-height: 16px;
    font-weight: 700;
    font-size: .9em;
}

.nav__pc ul li:hover a {
    color: #fff;
}

.nav__pc ul li a.active {
    color: #fff;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: .7em;
}

svg.svg-inline--fa.fa-bars.fa-w-14 {
    width: 13px;
}

.nav__bar-btn {
    display: none;
    width: 18px;
    height: 17px;
    padding: 7px 7px;
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
    border-radius: 15%;
    border: 1px solid transparent;
    background-color: var(--color-btn-menu);
}

.group_btn {
    display: flex;
}

.search {
    width: 36px;
    height: 32px;
    padding: 6px;
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
    border-radius: 15%;
    border: 1px solid transparent;
    background-color: var(--color-btn-menu);
    z-index: 55;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

/* nav mobile  */
.nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 260px;
    background-color: var(--bg-navbarleft-mobile);
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    z-index: 66;
}

.nav__mobile ul {
    padding-top: 40px;
}

.nav__mobile ul li {
    border-bottom: 1px solid #ddd;
}

.nav__mobile ul li:last-child {
    border-bottom: none;
}

.nav__mobile li a {
    text-decoration: none;
    font-size: .8em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding: 15px 0px 15px 20px;
    font-weight: 700;
    color: rgba(102, 102, 102, .85);
}

.nav__mobile-link {
    display: block;
    padding: 1rem;
}

.nav__mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0);
}

.nav__input:checked~.nav__overlay {
    display: block;
}

input {
    display: none;
}

/* style search  */
.togglesearch {
    background: #fff;
    position: absolute;
    top: 58px;
    right: 15.7%;
    width: 266px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-top: 4px solid var(--color-btn-menu);
    display: none;
}

.togglesearch:before {
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid var(--color-btn-menu);
}

.togglesearch input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    margin-left: 23px;
    border: 1px solid var(--color-btn-menu);
    outline: none;
    display: inline-block;
}

.togglesearch input[type="button"] {
    width: 80px;
    padding: 5px 0;
    background: var(--color-btn-menu);
    color: #fff;
    margin-left: -6px;
    border: 1px solid var(--color-btn-menu);
    outline: none;
    cursor: pointer;
    display: inline-block;
}

@media (max-width:1023px) {
    .nav__bar-btn {
        display: block;
    }

    .nav__pc {
        display: none;
    }
}

/* end-style nav  */

/* style slider  */
.slideshow-container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}

.slideshow-container:hover .next {
    display: block;
    right: 0;
}

.slideshow-container:hover .prev {
    display: block;
    left: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    display: none;
}

.svg-icon {
    width: 2em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: rgba(255, 255, 255, 0.707);
    transition: 0.5s ease;
}


.next {
    animation-name: arrowNext;
    animation-duration: 0.8s;
}

.prev {
    animation-name: arrowPrev;
    animation-duration: 0.8s;
}


.prev:hover .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: rgb(2, 131, 22);
}

.next:hover .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: rgb(2, 131, 22);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes arrowNext {
    from {
        right: 10px;
    }

    to {
        right: 0;
    }
}

@keyframes arrowPrev {
    from {
        left: 10px;
    }

    to {
        left: 0;
    }
}

/* end-style slider  */
/* style group food  */
.group-food {
    position: absolute;
    bottom: -50%;
    left: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.group-food .food {
    padding: 0 9.8px 19.6px;
    margin-bottom: 0;
    width: 23%;
    flex-basis: 1;
}

.wrap-food {
    background-color: #16a667;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #fff;
}

img.img_food {
    margin-bottom: 1em;
    max-width: 100%;
    position: relative;
    width: 200px;
    border-radius: 100%;
    border: 3px solid #fff;
    padding: 0;

}

.name_food {
    font-size: 18px;
    padding-bottom: 15px;
}

.des_food {
    text-align: justify;
}

@media (max-width:1023px) {
    .group-food {
        position: absolute;
        bottom: -70%;
        left: 80px;
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* end-style group food  */

/* style-service  */
.services {
    padding-top: 350px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.service-img img {
    width: 400px;
}

.service-title {
    font-weight: bold;
    color: #16a667;
    font-size: 1.3em;
    padding: 10px 0px;
}

.services p {
    margin-left: 30px;
    margin-bottom: 10px;
}

.service-desc {
    padding-top: 50px;
}

/* end-style-service  */

/* style new products  */
.new-products {
    width: 100%;
    background-color: rgb(55, 53, 59);
    padding: 30px 0;
}

.realistic,
.wrap-products,
.news {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.new-products h3.title {
    color: #fff;
    font-size: 1.3em;
    padding: 10px 0px;
    font-weight: bold;
}

.product {
    width: 20%;
    margin-right: 20px;
}

.name_product {
    color: #fff;
    font-size: 17px;
}

.price_product {
    color: yellow;
    font-weight: bold;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.realistic_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.realistic {
    margin-top: 30px;
    padding-bottom: 20px;
}

.realistic h3.title,
.news h3.title {
    color: #16a667;
    font-size: 1.3em;
    padding: 10px 0px;
    font-weight: bold;
}

.realistic_item {
    background-image: url("../../images/gallery1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24%;
    height: 300px;
    cursor: pointer;
    border: 1px solid #fff;
}

.realistic_item.realistic_item1 {
    background-image: url("../../images/gallery2.jpeg");
}

.realistic_item.realistic_item2 {
    background-image: url("../../images/gallery3.jpg");
}

.realistic_item.realistic_item3 {
    background-image: url("../../images/gallery4.jpg");
}

.realistic_item.realistic_item4 {
    background-image: url("../../images/gallery5.png");
}

.realistic_item.realistic_item5 {
    background-image: url("../../images/gallery6.jpg");
}

.realistic_item.realistic_item6 {
    background-image: url("../../images/img1.jpg");
}

.realistic_item.realistic_item7 {
    background-image: url("../../images/gallery8.jpg");
}

/* end-style new products  */
/*style news  */
.news {
    padding: 20px 0;
    width: 100%;
}

.news .news_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.news .news_list .new_item {
    width: 21%;
}

.news .news_list .new_item:nth-child(5),
.news .news_list .new_item:nth-child(6),
.news .news_list .new_item:nth-child(7),
.news .news_list .new_item:nth-child(8) {
    margin-top: 20px;
}

.news .img {
    background-image: url("../../images/photo-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 250px;
    cursor: pointer;
}

.news .img.img1 {
    background-image: url("../../images/photo-2.jpg");
}

.news .img.img2 {
    background-image: url("../../images/photo-3.png");
}

.news .img.img3 {
    background-image: url("../../images/photo4.jpg");
}

.news .img.img4 {
    background-image: url("../../images/photo5.jpg");
}

.news .img.img5 {
    background-image: url("../../images/photo6.jpg");
}

.news .img.img6 {
    background-image: url("../../images/photo7.jpg");
}

.news .img.img7 {
    background-image: url("../../images/photo8.jpg");
}

.news h3.title {
    font-size: 16px;
    color: black;
}

.news p {
    font-size: 14px;
}

.news .divider {
    height: 2px;
    display: block;
    background-color: rgba(0, 0, 0, .1);
    /* margin: 0em 0 0em; */
    width: 100%;
    max-width: 30px;
    padding: 3p;
    margin: 5px 0 15px 0;
}

button.btn-details {
    color: #fff;
    background-color: var(--color-btn-details);
    padding: 7px 10px;
    border: 1px solid var(--border-btn-details);
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0 1.2em 0 0 rgb(255 255 255 / 10%);
    margin-top: 10px;
}

button.btn-details:hover {
    box-shadow: inset 0 1.2em 0 0 rgba(255, 255, 255, 0.034);
}


/*end-style news  */

/* style footer  */
.footer {
    width: 100%;
    background-color: #3f454d;
    color: #fff;
    padding-top: 30px;
}

.footer_top {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer_top h3 {
    font-size: 19px;
    font-weight: bold;
}

.footer_top p {
    font-size: 14px;
    padding: 4px 0;
}

ul.footer_list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

ul.footer_list li {
    width: 30%;
}

.footer_bottom {
    padding: 10px 0;
    background-color: #5b5b5b;
    text-align: center;
    font-size: 13px;
}

/* end-style footer  */